/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #fbc2eb, #a6c1ee);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MAIN CONTAINER */
.container {
  display: flex;
  width: 800px;
  height: 450px;
  background: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 15px 40px rgba(0,0,0,0.2);
}

/* LEFT SIDE */
.left {
  width: 50%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left h1 {
  margin-bottom: 10px;
}

.left p {
  margin-bottom: 20px;
  color: gray;
}

/* INPUTS */
input, select {
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

/* BUTTON */
button {
  padding: 12px;
  margin-top: 15px;
  border: none;
  border-radius: 8px;
  background: #7c3aed;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #5b21b6;
}

/* RIGHT SIDE IMAGE */
.right {
  width: 50%;
}

.right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.dashboard {
  width: 700px;
  padding: 30px;
}

.upload-box {
  background: rgba(255,255,255,0.15);
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}

li {
  background: rgba(255,255,255,0.2);
  margin: 10px 0;
  padding: 15px;
  border-radius: 10px;
  text-align: left;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.logout-btn {
  background: #ef4444;
}

.logout-btn:hover {
  background: #dc2626;
}
